<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>910924890984-196n28a63g7ar4635u8cafchb8jqafi5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.910924890984-196n28a63g7ar4635u8cafchb8jqafi5</string>
	<key>API_KEY</key>
	<string>AIzaSyCNkjulRNi-R1iBQ5LUJ8IxaqU6gIRord4</string>
	<key>GCM_SENDER_ID</key>
	<string>910924890984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pushp.GuardianSwiftUI.GuardianSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>testpushes-d3ae4</string>
	<key>STORAGE_BUCKET</key>
	<string>testpushes-d3ae4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:910924890984:ios:7c6450618a4389f40eccdd</string>
</dict>
</plist>